# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
# .vscode/  # Comentado para mantener launch.json
.idea/
*.swp
*.swo

